.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
binaries
db.json
./db.json

.idea
.idea/*
src/renderer/assets/js/bip39-Node/node_modules