@media only screen and (max-width: $br1125px) {
    .md-modal {
        width: 90%;
    }
    .dashboard {
        .content {
            .accoundID {}
            .userInfo {
                .curve {}
                .left {
                    .info {}
                }
            }
            .actions {
              
                >div {
                   
                    label {
                        display: none;
                    }
                }
            }
            .accounts {
                .top {
                    label {}
                    button {}
                }
                .bottom {
                    
                    grid-template-columns: repeat(2, 1fr) !important;
                    
                  
                }
            }


            .latestTransaction {
                
                box-shadow: 0 2px 51px -10px #223247;
                * {
                    color: $white;
                }
              
                .transactionContent {
                   
                    overflow-y: scroll;
                    &::-webkit-scrollbar {
                        width: 11px;
                        background: #485e66;
                    }
                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        background: $white url('../img/scrollThumb.svg') center center no-repeat;
                    }
                    
                    .row {
                        // position: relative;
                        display: grid;
                        grid-template-columns:5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
                        padding: 10px 20px;
                        
                        grid-gap: 10px;
                        
                        * {
                            align-self: center;
                        }
                        .date {
                            font-size: 18px;
                            grid-row:1/1;
                            grid-column: 1/12;
                        }
                        .status {
                            grid-row:2/2;
                            grid-column: 1/4;
                        }
                        .account {
                            display: grid;
                            justify-content: space-between;
                            grid-template-columns: 45% 5px 45%;
                            grid-gap: 20px;
                            grid-row:2/2;
                            grid-column: 4/12;
                           
                            .fromAccount {
                                background-color: $white;
                                box-sizing: border-box;
                                padding: 10px 15px;
                                border-radius: 25px;
                                color: #333333;
                                overflow: hidden;
                                
                                text-overflow: ellipsis;
                                
                            }
                            .toAccount {
                                box-sizing: border-box;
                                background-color: #26404a;
                                padding: 10px 15px;
                                border-radius: 25px;
                                
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            .arrow {
                                fill: #FFFFFF;
                            }
                        }
                        .amount {
                            grid-row:2/2;
                            grid-column: 12/12;
                            font-size: 18px;
                            display: flex;
                            align-items: center;
                            svg {
                                padding-left: 10px;
                                .open {
                                    fill: #FFFFFF;
                                }
                            }
                        }
                       
                    }
                }
            }


        }
       
    }
    //Send Page
    .send {
        .content{
            .funds{
                .contentInner{
                    .totalAmount{
                        .inner{
                            .buttons{
                                .ok{
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .accountDetails {
        .content {
            .accoundID {}
            .userInfo {
                .curve {}
                .left {
                    .info {}
                }
            }
            .actions {
              
                >div {
                   
                    label {
                        display: none;
                    }
                }
            }
            .accounts {
                .top {
                    label {}
                    button {}
                }
                .bottom {
                    
                    grid-template-columns: repeat(2, 1fr) !important;
                    
                  
                }
            }


            .latestTransaction {
                display: grid;
                box-shadow: 0 2px 51px -10px #223247;
                * {
                    color: $white;
                }
              
                .transactionContent {
                    height: 280px;
                    overflow-y: scroll;
                    &::-webkit-scrollbar {
                        width: 11px;
                        background: #485e66;
                    }
                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        background: $white url('../img/scrollThumb.svg') center center no-repeat;
                    }
                    
                    .row {
                        // position: relative;
                        display: grid;
                        grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
                        padding: 10px 20px;
                        
                        grid-gap: 10px;
                        
                        * {
                            align-self: center;
                        }
                        .date {
                            font-size: 18px;
                            grid-row:1/1;
                            grid-column: 1/12;
                        }
                        .status {
                            grid-row:2/2;
                            grid-column: 1/4;
                        }
                        .account {
                            display: grid;
                            justify-content: space-between;
                            grid-template-columns: 45% 5px 45%;
                            grid-gap: 20px;
                            grid-row:2/2;
                            grid-column: 4/12;
                           
                            .fromAccount {
                                background-color: $white;
                                box-sizing: border-box;
                                padding: 10px 15px;
                                border-radius: 25px;
                                color: #333333;
                                overflow: hidden;
                                
                                text-overflow: ellipsis;
                                
                            }
                            .toAccount {
                                box-sizing: border-box;
                                background-color: #26404a;
                                padding: 10px 15px;
                                border-radius: 25px;
                                
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            .arrow {
                                fill: #FFFFFF;
                            }
                        }
                        .amount {
                            grid-row:2/2;
                            grid-column: 12/12;
                            font-size: 18px;
                            display: flex;
                            align-items: center;
                            svg {
                                padding-left: 10px;
                                .open {
                                    fill: #FFFFFF;
                                }
                            }
                        }
                       
                    }
                }
            }


        }
       
    }



    .participate{
        .content{
            .saleDetails{
                .inner{
                    .saleDetailsH1{
                        font-size:15.5px;
                    }

                    .left{
                        padding-right: 15px;
                        margin-bottom: 30px;
                        grid-template-columns: 100%;

                        .unavailableToken{
                            button{
                                padding: 8.5px 5px;
                            }
                        }
                    }

                    .right{
                        padding-left: 20px;
                        margin-bottom: 30px;
                        grid-template-columns: 100%;
                    }
                }
            }
        }
    }
}