@import "variables";
@media only screen and (max-width: $br1400px) {
    //==============================================dashboard page responsiveness/==============================================
    .dashboard {
        .content {
            .accoundID {
                pointer-events: visible !important;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .userInfo {
                .right {
                    grid-gap: 15px;
                    padding: 0px 15px;
                }
            }
            .accounts {
                .bottom {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
            .latestTransaction {
                .transactionContent {
                    .row {
                        label {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}