
.main-container {
  button {
    outline: none;
  }
  input {
    outline: none;
  }
  //SideBar
  .menu-drawer {
    background-color: #2C2C2C;
    .open-btn {
      svg {
        .st0{
          fill: #2C2C2C;

        }
      }
    }
    ul  {
      li {
        border-bottom: 0px;
        margin-top: 3px;
        .sidebar-line {
          background-color: #707070;
          height: 1px;
          width: 100%;
          margin: 0px auto;
        }
        .btn {
          line-height: 9px;
          img {
            height: 30px;
          }
        }
      }
      .red {
        .sidebar-line {
          background-color: #cb4d43;
        }
        background-color: #cb4d43;

      }
      .green {
        .sidebar-line {
          background-color: #85A200;
        }
        background-color: #85A200;

      }
      .blue {
        .sidebar-line {
          background-color: #35A7F7;
        }
        background-color: #35A7F7;
      }
    }
  }
   .open{
     ul  {
       li {
         margin-top: 5px;
         padding: 0px;
         max-height: initial!important;
         .sidebar-line {
           margin: 25px auto 0px;
           width: 85%;
         }
         .btn {
           padding-top: 25px;
         }
       }
     }
   }

  //MainScreen
  .container-outer {
    .contant-outer {
      background-color: #414141;

      .top-bar {
        .balance{
          .down {
            select {
              background: transparent;
              font-size: 16px;
              //-moz-appearance:none; /* Firefox */
              //-webkit-appearance:none; /* Safari and Chrome */
              //appearance:none;
            }
          }
        }
        .red {
          box-shadow: inset 0 0 30px #AE4239;

        }
        .green {
          box-shadow: inset 0 0 30px #758F00;

        }
        .blue {
          box-shadow: inset 0 0 30px #319DE8;
        }
        .details {
          .bar-wrap {
            background-color: #707070;
          }
        }
      }
      .red {
        background-color: #cb4d43;

      }
      .green {
        background-color: #85A200;

      }
      .blue {
        background-color: #35A7F7;
      }

      .contract {
        .content {
          .custom-tokens {
            .buttons {
              .primery {
                background-color: #2C2C2C;
              }
            }
          }
        }
      }

      .accountDetails {
        .content {
          .userInfo {
            background-color: #2C2C2C;
          }
          .accounts {
            .bottom {
              .currency-account a > div {
                background-color: #2C2C2C;

              }
            }
          }
          .latestTransaction {
            .header {
              background-color: #414141;
              border: 0px;

            }
            .transactionContent {
              .row:nth-child(odd) {
                background-color: #2C2C2C;
              }
              .row:nth-child(even) {
                background-color: #414141;
              }
              .row {
                .account {
                  .toAccount {
                    background-color: rgba(255, 255, 255, 0.1);
                  }
                }
              }
              .loader {
                background-color: #2C2C2C;
              }
            }
            .paginationT {
              li {
                background-color: #2C2C2C;
              }
              .activeT {
                background: #cb4d43;
              }
            }
          }
          .contract-details {
            box-shadow: 0 2px 51px -10px #2C2C2C;
            background-color: #2C2C2C;
            .inner {
              .left {
                .one-line {
                  background-color: #2C2C2C;
                }
                .output {
                  background-color: #414141;
                }
              }
            }
          }
        }
      }

      //Dashboard
      .dashboard {
        .content {
          .userInfo {
            background-color: #2C2C2C;
            .left {
              grid-template-columns: max-content 450px auto;
              .send-btn-align{
                justify-self: end;
                margin-right: 10px;
                .send-main-btn {
                  background-color: #cb4d43;
                  margin-top: 30px;
                  padding: 13px 55px;
                  span{
                    line-height: 27px;
                    margin-right: 15px;
                    font-size: 18px;
                    vertical-align: top;
                  }
                  svg {
                    fill: #fff;
                    align-items: center;
                    font-size: 50px;
                    width: 28px;
                    height: 28px;
                  }
                }
              }
            }
          }
          .main-actions {
            width: 100%;
            margin-top: 20px;
            .actions {
              grid-template-columns: repeat(4, 1fr);
              div {
                padding: 10px;
              }
              .deposit {
                svg {
                  height: 28px;
                  width: 25px;
                }
              }
            }
          }
          //AccountsList
          .accounts {
            .top {
              .view-token-btn {
                width: 200px;
                padding: 10px 0px;
                height: 49px;
                span{
                  line-height: 27px;
                  margin-left: 10px;
                  font-size: 15px;
                  vertical-align: top;
                }
                svg {
                  fill: #263a51;
                  align-items: center;
                  font-size: 50px;
                  width: 28px;
                  height: 28px;
                }
              }
              .view-contract-btn {
                width: 200px;
                padding: 10px 0px;
                height: 49px;
                margin-left: 10px;
                span{
                  line-height: 22px;
                  margin-left: 10px;
                  font-size: 15px;
                  vertical-align: top;

                }
                svg {
                  fill: #263a51;
                  align-items: center;
                  font-size: 50px;
                  width: 26px;
                  height: 22px;
                }
              }
            }
            .bottom > div {
              background-color: #2C2C2C;
              .link {
                background-color: #2C2C2C;
              }
              .token_value {
                border-left: 2px solid #414141;
              }
              .token_delete {
                border-left: 2px solid #414141;
              }
            }
          }


          //LatestTransactions
          .latestTransaction {
            .header {
              background-color: #414141;
              border: 0px;

            }
            .transactionContent {
              .row:nth-child(odd) {
                background-color: #2C2C2C;
              }
              .row:nth-child(even) {
                background-color: #414141;
              }
              .row {
                .account {
                  .toAccount {
                    background-color: rgba(255, 255, 255, 0.1);
                  }
                }
              }
              .loader {
                background-color: #2C2C2C;
              }
            }
            .paginationT {
              li {
                background-color: #2C2C2C;
              }
              .activeT {
                background: #cb4d43;
              }
            }

          }
        }
      }

      .send {
        .content {
          .funds {
            background-color: #2C2C2C;
            .contentInner {
              .sentDetails {
                .fundsInner {
                  .row {
                    .amountdetails {
                    }
                  }
                }
              }
            }
          }
        }
      }

      //Expex Section
      .expex {
        padding: 30px 60px 30px 30px;
        box-sizing: border-box;
        position: relative;
        .top-add-dp {
          display: flex;
          justify-content: flex-end;
          margin-bottom: 10px;
          .dp-section {
            width: 560px;

            .multiselect--active {
              .multiselect__select {
                height: 41px!important;
              }
            }

            .multiselect__tags {
              width: 100%!important;
              border: none!important;
              padding: 8px 30px 0px 4px !important;
              min-height: 47px;
              height: 47px;
            }
            .multiselect__content-wrapper {
              margin-top: -15px;
              background: none;
              //display: block!important;
            }

            .multiselect__content {
              margin: 15px 0px 0px 0px;

            }

            .multiselect__option--selected.multiselect__option--highlight {
              background: #f3f3f3!important;
              color: #000000!important;
            }

            .multiselect__option--highlight {
              background: #ffffff!important;
              color: #000!important;
            }

            .multiselect__placeholder {
              line-height: 30px!important;
              text-indent: 8px!important;
            }


            .multiselect__element {
              background: #ffffff!important;
              color: #000!important;
            }

            .multiselect__element:hover {
              background: #ffffff!important;
              color: #000!important;
            }

            .multiselect__single {
              padding-left: 5px!important;
              margin-bottom: 0px!important;
              line-height: 35px;
              height: 10px;
              .setImg1 {
                height: 30px!important;
              }
              .setImg {
                height: 15px;
                margin: 8px 5px!important;
              }
              .option__title {
                vertical-align: top!important;
                line-height: 35px!important;
              }
            }

            .multiselect__option {
              padding: 7px 5px 4px;
              .setImg1 {
                height: 30px!important;
              }
              .setImg {
                height: 15px;
                margin: 8px 5px!important;
              }
              .option__title {
                vertical-align: top!important;
                line-height: 35px!important;
              }
            }

            .multiselect__spinner:after, .multiselect__spinner:before {
              border-color: #000000 transparent transparent!important;
              margin-top: -1px;
            }

            .multiselect__input {
              padding: 0px 0px 0px 15px!important;

            }
          }
        }
        .top-tab-bar {
          position: relative;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 20px;
          .tab-head {
            background-color: #414141;
            padding: 5px 5px 1px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            .tab-label {
              font-size:22px;
              color: #969696;
              padding: 10px;
            }
            .tab-down {
              height: 14px;
              margin: 14px;
            }
            .tab-left {
              height: 21px;
              margin: 10px;
            }
          }
          .active {
            .tab-label {
              color: #ffffff;
            }
            color: #ffffff;
            background-color: #85A200;
          }
        }
        .tab-bottom-bar {
          background-color: #85A200;
          height: 2px;
        }
        .content {
          //MarketTab Section
          .market-Info{
            position: relative;
            display: grid;
            grid-template-columns: 100%;
            background-color: #2C2C2C;
            padding: 38px 0px;
            height: 70px;
            margin-top: 10px;
            box-shadow: 0 2px 51px -10px #223247;
            .curve{
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 0;
              height: 0;
              border-top: 40px solid #85A200;
              border-right: 40px solid transparent;
            }
            .market-content{
              display: grid;
              grid-template-columns: max-content auto;
              grid-gap: 22px;
              padding: 0px 28px;
              .market-headings{
                h1{
                  font-size: 31px;
                  margin-bottom: 15px;
                }
                h3 {
                  font-size: 22px;
                }
              }
              .market-input {
                justify-self: end;
                align-self: center;
                input {
                  border: 1px solid #707070;
                  padding: 10px 12px;
                  width: 170px;
                  font-size: 17px;
                  background-color: transparent;
                }
              }
            }
          }
          .market-table {
            margin-top: 15px;
            .table-head {
              position: relative;
              display: grid;
              grid-template-columns: repeat(8, 1fr);
              color: #9B9B9B;
              font-size: 19px;

            }
            .table-partition {
              margin-top: 10px;
              height: 1px;
              border-bottom: 1px dashed #9B9B9B;
            }
            .table-body {
              .table-row {
                position: relative;
                display: grid;
                padding: 15px 0px 11px 5px;
                grid-template-columns: repeat(8, 1fr);
                color: #ffffff;
                font-size: 16px;
                .row-mid {
                  margin-left: 20%;
                  img {
                    vertical-align: middle;
                  }
                }
                .Red {
                  color: #FF0031;
                }
                .Green {
                  color: #85A200;
                }
                .row-10 {
                  margin-left: 10%;
                }
              }
              .table-row:nth-child(odd) {
                background-color: #414141;
              }
              .table-row:nth-child(even) {
                background-color: #2C2C2C;
              }
            }
          }

          //myorderTab Section
          .myorder-Info {
            position: relative;
            display: grid;
            grid-template-columns: 100%;
            background-color: #2C2C2C;
            padding: 22px 0px;
            height: 40px;
            margin-top: 10px;
            box-shadow: 0 2px 51px -10px #223247;
            .curve {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 0;
              height: 0;
              border-top: 40px solid #85A200;
              border-right: 40px solid transparent;
            }
            .myorder-content{
              display: grid;
              grid-template-columns: repeat(5, 1fr);
              padding: 0px 28px;
              .myorder-headings{
                h1{
                  font-size: 31px;
                  margin-top: 5px;
                }
                h3 {
                  font-size: 22px;
                }
              }
              .myorder-select {
                align-self: center;
                //input {
                //  color: white;
                //  outline: none;
                //  border: 1px solid #707070;
                //  padding: 7px 8px;
                //  width: 100px;
                //  font-size: 17px;
                //  background-color: transparent;
                //}
                .filter-select {
                  width: 100px;
                  .dropdown-toggle {
                    border: 1px solid #707070;
                    color: #ffffff;
                    height: 33px;
                    border-radius: 0px;
                  }
                  .dropdown-menu {
                    //display: block!important;
                    min-width: auto;
                    margin-top: 1px;
                    padding: 0px;
                  }
                  .main-container {
                    .open {
                      ul {
                        li {
                          margin-top: 1px;
                        }
                      }
                    }

                  }
                  input[type=search], input[type=search]:focus {
                    display: none;
                  }
                  input[type=search], input[type=search]:focus {
                    display: none;
                  }
                  .vs__actions{
                    .clear {
                      color: #707070;
                    }
                    .open-indicator:before {
                      border-color: #707070;
                    }
                  }

                }
                .v-select.single {
                  .selected-tag {
                    color: #ffffff;
                  }
                }
              }
              .myorder-input1 {
                align-self: center;
                input {
                  width: 66%;
                  color: white;
                  outline: none;
                  border: 1px solid #707070;
                  padding: 7px 8px;
                  margin-left: 5px;
                  font-size: 17px;
                  background-color: transparent;
                }
              }
              .myorder-input {
                justify-self: end;
                align-self: center;
                input {
                  color: white;
                  outline: none;
                  border: 1px solid #707070;
                  padding: 7px 12px;
                  font-size: 17px;
                  background-color: transparent;
                }
              }
            }
          }
          .myorder-table {
            margin-top: 15px;
            .table-head {
              position: relative;
              display: grid;
              grid-template-columns: 9% 11% 10% 7% 8% 7% 16% 15% 10%;
              color: #9B9B9B;
              font-size: 19px;
              grid-gap: 15px;

            }
            .table-partition {
              margin-top: 10px;
              height: 1px;
              border-bottom: 1px dashed #9B9B9B;
            }
            .table-body {
              .table-row {
                position: relative;
                display: grid;
                padding: 15px 0px 11px 5px;
                grid-template-columns: 8% 14% 8% 8% 7% 9% 9% 21% 10%;
                color: #ffffff;
                font-size: 16px;
                grid-gap: 15px;
                .row-mid {
                  margin-left: 20%;
                  img {
                    vertical-align: middle;
                  }
                }
                .row-10 {
                  margin-left: 10%;
                }
                .fix-text {
                  max-width: 95%;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  min-width: 190px;
                  cursor: pointer;
                }
                .fix-text:hover {
                  color: #85A200;
                }
                .tooltip {
                  .tooltiptext {
                    display: none;
                    position: absolute;
                    padding: 4px;
                    border: 1px solid #ffffff;
                    color: #c4eefd;
                  }
                  .parrentFont {
                    z-index: 222;
                    top: 55px;
                    left: -30%;
                    font-size: inherit;
                  }
                }
              }
              .table-row:nth-child(odd) {
                background-color: #414141;
              }
              .table-row:nth-child(even) {
                background-color: #2C2C2C;
              }
            }
          }
          .myorder-table1 {
            .table-head {
              grid-template-columns: 8% 12% 5% 10% 10% 10% 10% 18%;
            }
            .table-body {
              .table-row{
                grid-template-columns: 8% 12% 5% 10% 10% 10% 8% 20%;
              }
            }

          }
          .paginationT {
            display: flex;
            margin: 10px;
            justify-content: flex-end;
            li{
              margin: 0px 3px;
              background: #2C2C2C;
              border-radius: 10px;
              padding: 12px 0px 14px;
              width: inherit;
              height: 10px;
              vertical-align: middle;
              cursor: pointer;
              display: inline-block;
              a{
                outline: none;
                text-decoration: none;
                padding: 12px 13px 14px;
              }
            }
            .activeT{
              background: #85A200;
            }
            li:hover{
              outline: none;
              background: #85A200;
            }
            li:first-child{
              background: #2C2C2C;
              font-weight: 800;
            }
            li:last-child{
              background: #2C2C2C;
              font-weight: 800;
            }
          }

          //CurrencyConverter Section
          .curconverter-Info {
            position: relative;
            display: grid;
            grid-template-columns: 100%;
            background-color: #2C2C2C;
            padding: 22px 0px;
            height: 40px;
            margin-top: 10px;
            box-shadow: 0 2px 51px -10px #223247;
            .curve {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 0;
              height: 0;
              border-top: 40px solid #85A200;
              border-right: 40px solid transparent;
            }
            .curconverter-content {
              display: grid;
              padding: 0px 28px;
              .curconverter-headings{
                h1{
                  font-size: 31px;
                  margin-top: 5px;
                }
              }
            }
          }
          .curconverter-para {
            margin-top: 20px;
            line-height: 22px;
            font-size: 16px;
            text-align: justify;
            color: #ffffff;
          }
          .curconverter-body {
            margin-top: 30px;
            .content {
              position: relative;
              display: grid;
              grid-template-columns: max-content 2% 31%;
              grid-gap: 10px;
              .calculate-div {
                .send-div{
                  position: relative;
                  display: grid;
                  grid-template-columns: 120px max-content max-content;
                  margin-top: 15px;
                  h2{
                    text-align: end;
                    margin-top: 13px;
                    margin-right: 15px;
                    font-size: 20px;
                  }
                  input {
                    color: white;
                    outline: none;
                    border: 1px solid #707070;
                    padding: 10px;
                    width: 250px;
                    font-size: 20px;
                    background-color: transparent;
                    margin-right: 10px;
                    text-align: end;
                  }
                  .send-select {
                    cursor: pointer;
                    z-index: 0;
                    width: 50px;
                    text-align: center;
                    font-size: 19px;
                    padding: 14px 10px 0px;
                    border: 1px solid #707070;
                    background-color: #6A6A6A;
                    select {
                      cursor: pointer;
                      background-color: transparent;
                      outline: none;
                      height: 100%;
                      font-size: 20px;
                      border: 0px;
                      width: 75px;
                      color: white;
                      -webkit-appearance: none;
                      display: block;
                      -moz-appearance: none;
                    }
                    img {
                      width: 15px;
                      cursor: pointer;
                      position: absolute;
                      right: 14px;
                      bottom: 15px;
                      z-index: -1;
                    }
                  }
                  .slecth:hover {
                    background-color: #85A200 ;
                  }
                }
                .exchange-btn {
                  display: grid;
                  button {
                    background-color: #85A200 ;
                    color: #ffffff;
                    font-size: 17px;
                    border: 0px;
                    width: 280px;
                    padding: 16px 15px;
                    justify-self: end;
                    margin-top: 20px;
                    line-height: 19px;
                    text-align: center;
                    img {
                      vertical-align: bottom;
                      float: right;
                    }
                  }
                }

                margin-right: 10px;
              }
              .partition-bar {
                background-color: #707070;
                width: 1px;
                height: 100%;
              }
              .detail-div
              {
                .txt-div {
                  h1 {
                    font-size: 31px;
                    padding-bottom: 7px;
                  }
                  p {
                    font-size: 20px;
                    color: #D1D1D1;
                  }
                  padding-bottom: 15px;
                }
                :last-child {
                  padding-bottom: 0px;
                }

                .network-rate {
                  .progressBar {
                    input[type=range] {
                      display: block;
                      -webkit-appearance: none;
                      background-size: 100%;
                      width: 100%;
                      height: 18px;
                      outline: none;
                      -webkit-transition: .2s;
                      transition: opacity .2s;
                      cursor: pointer;
                      margin-bottom: -2px;
                    }
                    input[type="range"]::-webkit-slider-thumb {
                      -webkit-appearance: none;
                      background-color: #85A200;
                      width: 12px;
                      height: 20px;
                      border-radius: 20px;
                      cursor: pointer;
                      margin-top: -10px;
                    }
                    .ranges {
                      display: grid;
                      grid-template-columns: auto auto;
                      justify-content: space-between;
                      margin-bottom: 3px;
                    }
                    span {
                      color: #ededed;
                      font-size: 16px;
                    }
                    p {
                       color: #ffffff;
                       font-size: 18px;
                       font-weight: bold;
                       line-height: 24px;
                    }
                  }
                }
              }
            }
          }

          //Expex Details
          .expexDetails-Info {
            position: relative;
            display: grid;
            grid-template-columns: 100%;
            background-color: #2C2C2C;
            padding: 25px 0px;
            height: 60px;
            margin-top: 10px;
            box-shadow: 0 2px 51px -10px #223247;
            .curve {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 0;
              height: 0;
              border-top: 40px solid #85A200;
              border-right: 40px solid transparent;
            }
            .expexDetails-content {
              display: grid;
              grid-template-columns: repeat(7, 1fr);
              grid-gap: 22px;
              padding: 0px 28px;
              .expexDetails-headings{
                h1{
                  font-size: 31px;
                  margin-bottom: 10px;
                }
                p {
                  font-size: 16px;
                }
              }
              .expHeadData {
                p {
                  margin-bottom: 10px;
                }
              }
            }
          }

          .expexDetails-table {
            margin-top: 15px;
            .table-head {
              position: relative;
              display: grid;
              grid-template-columns: repeat(6, 1fr);
              color: #9B9B9B;
              font-size: 19px;
              grid-gap: 10px;

            }
            .table-partition {
              margin-top: 10px;
              height: 1px;
              border-bottom: 1px dashed #9B9B9B;
            }
            .table-body {
              .table-row {
                position: relative;
                display: grid;
                padding: 15px 0px 11px 5px;
                grid-template-columns: repeat(6, 1fr);
                color: #ffffff;
                font-size: 16px;
                grid-gap: 15px;
                .row-mid {
                  margin-left: 20%;
                  img {
                    vertical-align: middle;
                  }
                }
                .row-10 {
                  margin-left: 10%;
                }
                .fix-text {
                  max-width: 95%;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  min-width: 190px;
                }
              }
              .table-row:nth-child(odd) {
                background-color: #414141;
              }
              .table-row:nth-child(even) {
                background-color: #2C2C2C;
              }
            }
          }
          .buySell-Section {
            .content {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              .left-side {
                .left-side-table {
                  margin-top: 15px;
                  .table-head {
                    position: relative;
                    display: grid;
                    grid-template-columns:repeat(3, 1fr) ;
                    color: #9B9B9B;
                    font-size: 14px;
                    grid-gap: 5px;

                  }
                  .table-partition {
                    margin-top: 10px;
                    height: 1px;
                    border-bottom: 1px dashed #9B9B9B;
                  }
                  .table-body {
                    .table-row {
                      position: relative;
                      display: grid;
                      cursor: pointer;
                      padding: 15px 0px 11px 5px;
                      grid-template-columns: repeat(3, 1fr);
                      color: #ffffff;
                      font-size: 14px;
                      .row-mid {
                        margin-left: 20%;
                        img {
                          vertical-align: middle;
                        }
                      }
                      .row-10 {
                        margin-left: 10%;
                      }
                      .fix-text {
                        max-width: 95%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        min-width: 190px;
                      }
                    }
                    .table-row:hover {
                       background-color: #4c4c4c!important;
                    }
                    .table-row:nth-child(odd) {
                      background-color: #414141;
                    }
                    .table-row:nth-child(even) {
                      background-color: #2C2C2C;
                    }
                  }
                }
                .paginationT {
                  li {
                    font-size: 14px;
                    padding: 7px 0px 9px;
                    a {
                      padding: 8px;
                    }
                  }

                }
              }
              .middle-side {
                .mid-content {
                  width: 300px;
                  margin: 0px auto;
                  .btns-div {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    margin-top: 10px;
                    button {
                      color: #ffffff;
                      font-size: 16px;
                      border: 0px;
                      width: 140px;
                      padding: 8px 15px;
                      justify-self: end;
                      margin-top: 20px;
                      line-height: 19px;
                      text-align: center;
                    }
                    .buy-btn {
                      background-color: #85A200 ;
                    }
                    .unactive-buy {
                      background-color: #B9B9B9;
                      color: #000000;
                    }
                    .unactive-buy:hover {
                      background-color: #85A200;
                      color: #ffffff;
                    }
                    .unactive-sell {
                      background-color: #B9B9B9;
                      color: #000000;
                    }
                    .unactive-sell:hover {
                      background-color: #CB4D43;
                      color: #ffffff;
                    }
                    .sell-btn {
                      background-color: #CB4D43 ;
                    }
                  }
                  .details-div {
                    .uppertxt {
                      font-size: 12px;
                      color: #B9B9B9;
                      margin-bottom: 10px;
                      .roundadd {
                        border-radius: 50%;
                        border: 1px solid #B9B9B9;
                        padding: 1px 4px 1px 5px;
                        margin: 3px;
                        font-size: 15px;
                      }
                    }
                    .lowertxt {
                      display: flex;
                      justify-content: space-between;
                      margin-bottom: 10px;
                      color: #B9B9B9;
                      font-size: 16px;
                      input {
                        background: transparent;
                        border: 1px solid #636363;
                        padding: 5px 10px;
                        color: #ffffff;
                        outline: none;
                        width: 60%;
                        font-size: 13px;
                      }
                    }
                  }
                  .buy-btn {
                    display: flex;
                    justify-content: center;
                    button {
                      color: #ffffff;
                      background-color: #85A200 ;
                      font-size: 16px;
                      border: 0px;
                      width: 200px;
                      padding: 8px 15px;
                      line-height: 19px;
                      text-align: center;
                      margin: 4px 0px 20px;
                    }
                  }
                  .bal-text {
                    p {
                      font-size: 12px;
                      color: #B9B9B9;
                      margin-bottom: 8px;
                      text-align: center;
                    }
                  }
                  .buybluetxt {
                    font-size: 13px;
                    color: #009DFF;
                    margin-bottom: 5px;
                    text-align: center;
                    cursor: pointer;
                  }
                  .balance-partition {
                    border-bottom: 1px dashed #707070;
                    margin: 9px 0px;
                  }
                  .balance-partition1 {
                    border-bottom: 1px dashed #707070;
                    margin: 10px 0px;
                  }
                }

              }
              .right-side {

              }
            }
          }
          .expexchart-section {
            .chart-content {
              margin: 30px 0px 10px;
              .head-text {
                position: relative;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                .text-data {
                  position: relative;
                  display: grid;
                  grid-template-columns: repeat(4, 1fr);
                  .keyvalue {
                    div {
                      font-size: 14px;
                      color: #B9B9B9;
                      display: flex;
                      margin-bottom: 8px;
                      p {
                        font-size: 13px;
                        width: 45px;
                        color: #ffffff;
                      }
                    }
                  }
                }
                .btns {
                  justify-content: center;
                  display: flex;
                  button {
                    height: 32px;
                    color: #ffffff;
                    font-size: 12px;
                    border: 0px;
                    width: 140px;
                    padding: 6px 10px 8px;
                    justify-self: end;
                    margin-left: 15px;
                    line-height: 19px;
                    text-align: center;
                  }
                  .deposit-btn {
                    background-color: #85A200;
                    img {
                      width: 12px;
                      vertical-align: middle;
                      margin-right: 8px;
                    }
                  }
                  .withdraw-btn {
                    background-color: #CB4D43;
                    img {
                      width: 12px;
                      vertical-align: middle;
                      margin-right: 8px;
                    }
                  }
                }
              }
              .partition-chart {
                border-bottom: 1px dashed #707070;
                margin: 15px 0px;
              }
            }
          }
          .marketLabel {
            margin-top: 30px;
          }
        }
      }
    }
  }

  .Red {
    color: #FF0031;
  }
  .Green {
    color: #85A200;
  }
  .popup {
    background-color: #2C2C2C;
  }
  .sendtransaction {
    .transaction {
      .sendtransaction-inner {
        .addresses {
          .sender {
            background-color: #414141;
          }
        }
        .content {
          .props {
            .name {
              .row {
                p {
                  background-color: #414141;
                }
              }
            }
          }
        }
      }
    }

  }

  .txns_details{
    .md-content {
      .loader {
        background-color: #2C2C2C;
      }
    }
  }
}


.sendtransaction {
  .Allowance-popup {
    .allowance-header {
      margin-bottom: 30px;
    }
    .allowance-content {
      min-width: 500px;
      width: 500px;
      margin: 0px auto;
      text-align: left;
      .all-form{
        margin: 10px;
        padding-top: 5px;
        .all-input{
          input {
            border: 0px;
            border-bottom: 1px solid #707070;
            padding: 10px 12px;
            width: 80%;
            color: #ffffff;
            font-size: 17px;
            background-color: transparent;
          }
          span {
            margin-left: -4px;
            border-bottom: 1px solid #707070;
            padding: 9px;

          }
        }
        .progressBar {
          margin: 15px 0px;
          input[type=range] {
            display: block;
            -webkit-appearance: none;
            background-size: 100%;
            width: 87%;
            height: 18px;
            outline: none;
            -webkit-transition: .2s;
            transition: opacity .2s;
            cursor: pointer;
            margin-bottom: -2px;
          }
          input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            background-color: #85A200;
            width: 12px;
            height: 20px;
            border-radius: 20px;
            cursor: pointer;
            margin-top: -5px;
          }
          .ranges {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            margin-bottom: 5px;
          }
          span {
            color: #ededed;
            font-size: 16px;
            margin-top: 10px;
          }
          p {
            color: #ffffff;
            font-size: 18px;
            font-weight: bold;
            line-height: 24px;
          }
        }
      }
      .all-fee{
        margin: 10px;
        p{
          font-size: 20px;
        }
      }
    }
    .all-btn{
      text-align: center;
      button {
        width: 200px;
        border-radius: 20px;
        color: #ffffff;
        font-size: 17px;
        padding: 8px 10px 11px;
        margin: 20px auto 0px;
        background-color: #85A200;
        border: 0px;
      }
    }
  }
}

//Footer Section
footer {
  .footer-Data {
    background-color: #2C2C2C;
  }
  .footer-DataUp {
    background-color: #2C2C2C;
    .footer-container{
      .gexplogscontent {
        border: 1px solid #414141;
      }
      .gexplogscontent:nth-child(even){
        .a1{
          .gexptxt-num {
            background: #414141
          }
        }
      }
    }
  }
}
