.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin-top: 10px;
	
	width: calc(100% - 2em);
	vertical-align: top;
}
.textarea {

	margin-top: 20px;
	
	
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
	&:focus {
		outline: none;
	}
}



.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	
	font-weight: bold;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 18px;
}

/* Individual styles */


/* Nao */
.input--nao {
	overflow: hidden;
	padding-left: 0px;
	width: 100%;
	box-sizing: border-box;
	padding-right: 0px;
	padding-top: 2.3em;
	.details {
		opacity: 0.0;
		margin-left: 0px;
		font-size: 18px;
		transition: $mid;

	}
	
	
}
.priv_password{
	.row-3{
		.input--nao {
			padding-top: 0;
			margin-top: -8px;				
		}
	
	}
	
}


.input__field--nao {
	padding: 0.5em 0em 0.25em;
	width: 100%;
	background: transparent;
	color: #fff;
	font-size: 16px;
}

.input__label--nao {
	position: absolute;
	top: 0.95em;
	font-size: 18px;
	font-weight: normal;
	left: 0;
	display: block;
	width: 100%;
	text-align: left;
	padding: 0em;
	pointer-events: none;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
	transition: transform 0.2s 0.15s, color 1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.graphic--nao {
	stroke: #92989e;
	pointer-events: none;
	-webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
	transition: transform 0.7s, stroke 0.7s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
} 

.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
	color: #fff;
	-webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
	transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
	.details {
		opacity: 0.9;
		margin-left: 10px;
		color: #8bacb9;
		font-size: 18px;
	
	}

}

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
	stroke: #fff;
	-webkit-transform: translate3d(-66.6%, 0, 0);
	transform: translate3d(-66.6%, 0, 0);
}



  